* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0;
    height: 100%;
}

.time-line {
    padding: 20px;
    width: 500px;
    background-color: #dddddd;
}
.time-line__posts {
    position: relative;
    padding-left: 40px;
}
.time-line__posts:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: calc(100% + 10px);
    left: 16px;
    top: 0;
    background-color: #ffffff;
}

.time-line__post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 15px 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none;
}
.time-line__post-title {
    text-align: right;
    margin-bottom: 10px;
}
.time-line__post-content {
    margin-bottom: 10px;
}
.time-line__post:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 10px;
    left: -30px;
    border-radius: 50%;
    border: 1px solid #333333;
    background-color: #ffffff;
}
.time-line__message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    outline: transparent;
    border: 2px solid #333333;
    background-color: #fff;
}
.time-line__message-audio,
.time-line__message-video {
    width: 100%;
    outline: transparent;
}
.time-line__message:focus {
    border: 2px solid dodgerblue;
}
.time-line__form {
    position: relative;
    flex-grow: 1;
}
.time-line__window {
    position: absolute;
    top: 0;
    left: -2px;
    padding: 10px;
    width: calc(100% + 4px);
    transform: translateY(-100%);
    display: inline-block;
    border: 2px solid #333333;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #ffffff;
}
.time-line__window-video {
    width: 100%;
}
.time-line__message-input {
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 18px;
}
.time-line__message-media {
    padding: 0 15px;
}
.time-line__message-media--record {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.time-line__message-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #dddddd;
    outline: transparent;
    margin-right: 10px;
}
.time-line__message-button:last-child {
    margin-right: 0;
}
.time-line__message-button:hover {
    border: 1px solid dodgerblue;
}
.time-line__message-button--record {
    margin: 0;
}
.time-line__message-timer {
    margin: 0 10px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
}
.modal__wrapper {
    cursor: default;
}

.modal__content {
    width: 400px;
    padding: 35px 20px;
    background-color: #ffffff;
    z-index: 10;
}
.modal__content-title {
    margin-bottom: 5px;
}
.modal__content-info {
    margin-bottom: 10px;
}
.modal__content-error {
    margin-bottom: 5px;
    color: red;
    font-size: 12px;
}
.modal__content-field {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.modal__content-button {
    padding: 5px 20px;
    font-size: 18px;
    border: 1px solid #333333;
    border-radius: 10px;
    cursor: pointer;
    outline: transparent;
}
.modal__content-button {
    margin-right: 10px
}
.modal__content-button:last-child {
    margin-right: 0;
}
